<div class="my-challenges-children" id="active-challenges">
  <h3>Your active challenges</h3>
  <div class="challenge-iteration" id="active-challenge">
    <%@active_challenges.each do |challenge| %>
    <div class="dashboard-challenges-card">
      <h3><%=challenge.challenge.name %></h3>
      <h5><%= challenge.challenge.summary %></h5>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= challenge.challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%=challenge.challenge.name  %></h5><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
              <h4><%= challenge.challenge.prompt %></h4>
              <div class="wrapper d-flex">
                <%challenge.active_challenge_days.each do |day| %><%= simple_form_for [challenge, day], html: {data: {controller: "mark-as-complete", action: "submit->mark-as-complete#update"}} do |f| %><%= f.input :status , as: :boolean , input_html: {checked: true}, wrapper_html: {class: "d-none"} %><%= f.submit day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4" %><%end  %><%end %>
              </div><%= button_to "save", challenges_path, class:"call-to-action mt-3" %>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper d-flex">
        <%challenge.active_challenge_days.each do |day| %>
        <div class="circle <%= day.status ? "green" : "grey" %>">
          <h5 class="p-2"><%= day.day %></h5>
        </div><%end %>
      </div>
    </div>
    <%end%>
  </div>
</div>
