<div class="my-challenges-children" id="active-challenges">
  <h3>Your active challenges</h3>
  <% if @active_challenges.count < 1 %>
  <div class="no-challenge-active m-5 p-3">
  <h4>You haven't joined any challenges, head over to the challenges page to find some.</h4>
  </div>
  <% else %>
  <div class="challenge-iteration" id="active-challenge">
    <%@active_challenges.each do |challenge| %>
      <div class="challenge-card-big-div">
        <div class="challenge-card-quick-info">
          <div class="challenge-duration">
            <h6 class="challenge-card-days"><%= challenge.challenge.duration %> Days</h6>
          </div>
          <div class="title-summary">
            <h6 class="challenge-card-title"><%=challenge.challenge.name %></h6>
            <p class="challenge-card-summary"><%= challenge.challenge.summary %></p>
          </div>
          <div class="challenge-category">
          <%# Need to iterate for each category %>
            <div class="challenge-card-category"><p class="challenge-category-text"><%= challenge.challenge.category %></p></div>
          </div>
          <%# delete button %>
          <%= link_to active_challenge_path(challenge), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <%= image_tag(("recycle-bin.png"), class:"delete-button")%>
          <% end %>
          <%# delete button %>
        </div>
        <div class="challenge-calls">
          <div class="progress progress-bar-div">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              25%
            </div>
          </div>
          <button type="button" class="details-button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= challenge.challenge.id %>">Details</button>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= challenge.challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= challenge.challenge.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4><%= challenge.challenge.prompt %></h4>
              <div  class="wrapper d-flex">
                <% challenge.active_challenge_days.each do |day| %>
                  <%= simple_form_for [challenge, day], html: {data: {controller: "mark-as-complete", action: "submit->mark-as-complete#update"}} do |f| %>
                    <%= f.input :status , as: :boolean , input_html: {checked: true}, wrapper_html: {class: "d-none"} %>
                    <%= f.submit day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4" %>
                  <% end  %>
                <% end %>
              </div>
              <%= button_to "save", challenges_path, class:"call-to-action mt-3" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
