<div class="my-challenges-children" id="active-challenges">
  <h3>Your active challenges</h3>
  <% if @active_challenges.count < 1 %>
  <div class="no-challenge-active m-5 p-3">
  <h4>You haven't joined any challenges, head over to the challenges page to find some.</h4>
  </div>
  <% else %>
  <div class="challenge-iteration" id="active-challenge">
    <%@active_challenges.each do |challenge| %>
      <div class="challenge-card-big-div">
        <% if challenge.challenge.category == "Food" %>
          <div class="challenge-card-quick-info bg-green">
        <% elsif challenge.challenge.category == "Transport"%>
          <div class="challenge-card-quick-info bg-purple">
        <% else %>
          <div class="challenge-card-quick-info bg-orange">
        <% end %>
          <div class="challenge-duration">
            <h6 class="challenge-card-days"><%= challenge.challenge.duration %> Days</h6>
          </div>
          <div class="title-summary">
            <h6 class="challenge-card-title"><%=challenge.challenge.name %></h6>
            <p class="challenge-card-summary"><%= challenge.challenge.summary %></p>
          </div>
          <div class="challenge-category">
          <%# Need to iterate for each category %>
            <div class="challenge-card-category"><p class="challenge-category-text"><%= challenge.challenge.category %></p></div>
          </div>
          <%# delete button %>
          <%= link_to active_challenge_path(challenge), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <%= image_tag(("recycle-bin.png"), class:"delete-button")%>
          <% end %>
          <%# delete button %>
        </div>
        <div class="challenge-calls">

           <% if challenge.active_challenge_days != [] %>
             <div class="progress progress-bar-div"><div class="progress-bar" role="progressbar" style="width: <%= challenge.calculate_completion %>%" aria-valuenow=<%= challenge.calculate_completion %> aria-valuemin="0" aria-valuemax="100"><%= challenge.calculate_completion %>%</div></div>
           <% end %>

          <button type="button" class="add reverse-icon" data-bs-toggle="modal" data-bs-target="#exampleModal<%= challenge.challenge.id %>">
          <i class="fa-regular fa-calendar fa-2xl "></i>
          </button>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= challenge.challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" id="post-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= challenge.challenge.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-controller="mark-as-complete" data-host="<%= root_url %>">
              <h4 pb-1>Update your challenge progress for today:</h4>
              <h6><%= challenge.challenge.prompt %></h6>

              <div class="wrapper d-flex">
                <% challenge.active_challenge_days.each do |day| %>

                  <%# simple_form_for [challenge, day], html: {data: { action: "submit->mark-as-complete#update"}} do |f| %>
                    <%# f.input :status , as: :boolean , input_html: {checked: true}, wrapper_html: {class: "d-none"} %>
                    <%# if day.status %>
                      <%# f.input day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4 green" %>
                    <%# else %>
                      <%# f.input day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4" %>
                    <%# end %>
                    <%# f.submit data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4" %>
                  <%# end %>

                  <div data-mark-as-complete-target="id" data-challenge-id="<%= day.active_challenge_id %>" data-day-id="<%= day.id %>" data-day-status="<%= day.status %>" >

                    <% if day.status %>
                      <div class="p-2 mx-2 rounded-circle green day-wrapper" data-action="click->mark-as-complete#update"><%= day.day %></div>
                      <%# f.input day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4 green" %>
                    <% else %>
                      <div class="p-2 mx-2 rounded-circle day-wrapper" data-action="click->mark-as-complete#update"><%= day.day %></div>
                      <%# f.input day.day, data: {mark_as_complete_target: "submit"}, class:"p-2 mx-2 rounded-4" %>
                    <% end %>

                    <%# form_with model: [challenge, day] do |f| %>
                      <%# f.text_field :status %>
                      <%# f.text_field :day %>
                    <%# end %>
                  </div>

                <% end %>

              </div>
              <div class="save-button mt-3" data-action="click->mark-as-complete#save">Save</div>


            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
