

<% if user %>
  <div>
    <h4><%= user.first_name %></h4>
    <p><%= user.last_name %></p>
    <%= image_tag user.avatar, class: 'avatar' %>
    <%= link_to "Add friend", user_friendships_path(user), data: {turbo_method: :post}, class:"btn btn-primary" %>

    <% else %>
        <div class="col-sm-8 text-center">
          <em>Sorry, no user found.</em>
        </div>
 </div>
<% end %>

<div class="user-info-div">
  <div class="user-info-children"><h6><%= user.first_name + ' ' + user.last_name %></h6></div>
  <div class="user-info-children">
    <div class="followers"></div>
    <div class="following"></div>
    <div class="groups"></div>
  </div>
  <div class="user-info-children">
    <div class="user-stats"></div>
  </div>
</div>
