<div class="container">

   <!--   Sidebar     -->
		<div class="user-dashboard-content">
			<div class="sticky-feed">
        <div class="user-card mt-3 pb-3">
          <% if current_user.avatar %>
            <%=  image_tag current_user.avatar, class:"my-avatar"%>
          <% end %>
          <div>
            <div class="d-flex justify-content-center pt-1">
              <h1><%= current_user.first_name %></h1>
            </div>
            <div class="d-flex justify-content-center">
              <div class="stats">
                <p class =" number mb-0 pt-1"><%=current_user.friends.count%></p>
                <hr>
                <p class="small-text">friends</p>
              </div>
              <div class="stats">
                <p class=" number mb-0 pt-1"><%= @completed.count  %></p>
                <hr>
                <p class="small-text"> completed challenges</p>
              </div>
              <div class="stats">
                <p class=" number mb-0 pt-1"><%= current_user.overall_score.truncate()  %></p>
                <hr>
                <p class="small-text", data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="heres some info"> <i class="fa-solid fa-circle-info "></i> sus score</p>
              </div>
           </div>
        </div>
     </div>
     <div class="leaderboard">
         <h4 class="pt-2">Rankings</h4>
          <hr class="line">
            <% @leaders.each_with_index do |leader, i| %>
              <div class="leaderboard-leader">
                  <% if i == 0 %>
                    <i class="fa-solid fa-medal gold"></i>
                  <% elsif i == 1 %>
                    <i class="fa-solid fa-medal silver"></i>
                  <% elsif i == 2 %>
                    <i class="fa-solid fa-medal bronze"></i>
                  <% else %>
                    <p><%= i + 1 %></p>
                <% end %>
                <%= image_tag leader.avatar, class: "image-small" %>
                <p><%= leader.first_name %></p>
                <p><%= leader.overall_score.truncate() %> pts</p>
              </div>
            <% end %>
        </div>
     </div>
			<div class="my-challenges">
        <%= render "your_progress_gragh" %>
        <%= render "active_challenges" %>
        <%= render "completed_challenges" %>
			</div>
		</div>

    <!-- Modal -->
 <div data-controller="daily-log">
		<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header add-entry-form" data-header-color="section-transportation">
						<h1 class="modal-title" id="exampleModalLabel">Daily Log</h1><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
					</div>
          <div class="modal-body">
            <%= simple_form_for @entry  do |f| %>
              <div data-daily-log-target="section"><h4>Transportation</h4>
                <%= f.input :car_hours, label: "How many hours did you travel by car today?", input_html: {value: 0} %>
                <%= f.input :bus_hours, label: "How many hours did you travel by bus today?", input_html: {value: 0} %>
                <%= f.input :train_hours, label: "How many hours did you travel by train today?", input_html: {value: 0} %>
                <%= f.input :cycle_hours, label: "How many hours did you travel by cycle today?", input_html: {value: 0} %>
                <%= f.input :foot_hours, label: "How many hours did you walk today?", input_html: {value: 0} %>
                <button data-action="click->daily-log#showSection2" style="background-color: #BBACEC; color: white;" id="purplebutton">Next</button>
              </div>
              <div data-daily-log-target="section" class="d-none"><h4>Meals</h4>
                <%= f.input :beef, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained beef today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput1(this.value)" }
                  %><input id="textInput1" style="border:none; background-color: #F4F4F4;" type="text" value="">

                <%= f.input :lamb, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained lamb today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput2(this.value)"}
                    %> <input id="textInput2" style="border:none; background-color: #F4F4F4;" type="text" value="">

                  <%= f.input :cheese, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained cheese today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput3(this.value)"}
                    %> <input id="textInput3" style="border:none; background-color: #F4F4F4;" type="text" value="">

                    <%= f.input :pork, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained pork today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput4(this.value)"}
                    %> <input id="textInput4" style="border:none; background-color: #F4F4F4;" type="text" value="">

                    <%= f.input :chocolate, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained chocolate today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput5(this.value)"}
                    %> <input id="textInput5" style="border:none; background-color: #F4F4F4;" type="text" value="">

                    <%= f.input :fish, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained fish today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput6(this.value)"}
                    %> <input id="textInput6" style="border:none; background-color: #F4F4F4;" type="text" value="">

                    <%= f.input :egg, as: :range, prompt: "my data", collection: 0..3,
                  label: "How many of your meals contained egg today?",
                  input_html: { class: "form-range", value: 0, min:"0", max:"3", step:"1", oninput:"updateTextInput7(this.value)"}
                    %> <input id="textInput7" style="border:none; background-color: #F4F4F4;" type="text" value="">
                    <br>
                  <button data-action="click->daily-log#showSection1" style="background-color: #80DBC1; color: white;" id="greenbutton">Back</button>
                  <button data-action="click->daily-log#showSection3" style="background-color: #80DBC1; color: white;" id="greenbutton">Next</button>
              </div>
              <div data-daily-log-target="section" class="d-none"><h4>Home</h4>
                <%= f.input :bath, as: :select, collection: ["Yes", "No"], label: "Today, I took a bath" %>
                <%= f.input :long_shower, as: :select, collection: ["Yes", "No"],label: "Today, I took a long shower (more than 10mins)?"%>
                <%= f.input :short_shower, as: :select, collection: ["Yes", "No"],label: "Today, I took a quick shower (less than 10mins)?"%>
                <button data-action="click->daily-log#backToSection2" style="background-color: #FACDA4; color: white;" id="yellowbutton">Back</button>
                <%= f.submit class: "submit-button" %>
              </div>
            <%end %>
          </div>
				</div>
			</div>
		</div>
	</div>

<script>
function updateTextInput2(val) {document.getElementById('textInput2').value=val;}
function updateTextInput1(val) {document.getElementById('textInput1').value=val;}
function updateTextInput3(val) {document.getElementById('textInput3').value=val;}
function updateTextInput4(val) {document.getElementById('textInput4').value=val;}
function updateTextInput5(val) {document.getElementById('textInput5').value=val;}
function updateTextInput6(val) {document.getElementById('textInput6').value=val;}
function updateTextInput7(val) {document.getElementById('textInput7').value=val;}
</script>
