<h1> hello from feed </h1>

<button data-action="click->toggle#fire" class="booking-button p-3 m-5">Add Entry</button>
<%= simple_form_for @entry do |f| %>
<%= f.input :food_score %>
<%= f.input :travel_score %>
<%= f.input :home_score %>
<%= f.input :day_score %>
<%= f.submit %>
<% end %>
