

<div data-controller="user-card">
  <div class="row justify-content-center" >
    <div class="col-sm-8 my-3">
      <%= form_with url: feed_path, method: :get, class: "d-flex", html: {data: {action: "submit->user-card#revealContent"}} do |f| %>
        <%= f.text_field :query,
              value: params[:query],
              class: "form-control",

              placeholder: "Search for friends by email ",
              data: { user_card_target: "input" }
          %>
          <div data-user-card-target="button">
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="user" class="" data-user-card-target="cards">


      </div>
      <div class="modal-body">
        <%= simple_form_for @post do |f| %>
          <%= f.input :content %>
          <%= f.input :image %>
          <%= f.submit "Submit post", class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>

  <div class="container">
  <button type="button" class="call-to-action" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Post
  </button>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @post do |f| %>
            <%= f.input :content %>
            <%= f.input :image %>
            <%= f.submit "Submit post", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
