<div class="container-earths">
  <div class="row justify-content-center">
    <div style="display: flex; width:<%= current_user.baseline_stats.to_i * 10 %>%">
      <div class="form-login-earth" data-controller="sign-up">
        <% if current_user %>
          <div class="results" data-sign-up-target="results">
            <h1>Welcome <%= current_user.first_name %>!</h1>
            <h2>Your ecological footprint is:</h2>
            <div class="d-flex">
              <% current_user.baseline_stats.to_i.times do %>
              <%= render partial: 'shared/baseline_image' %>
              <% end %>
            </div>
              <p>If everyone lived like you, we would need <%= current_user.baseline_stats.to_i %> Earths</p>
            <%= link_to "Let's improve that!", dashboard_path, class: "postbutton"%>
              <div class="d-flex">
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
