<div class="pink-background">
  <div class="container d-flex justify-content-center align-items-center mb-5">
    <%=  image_tag "sustainability.png", class:"info-image"%>

    <div class="step-wrapper top-right yellow-bg">
      <p class="">Track your habits</p>
      <div data-bs-toggle="tooltip" data-bs-placement="top" title="Input and track your sustainable living habits">
        <%=  image_tag "info_icon_green.png", class:"info-icon"%>
      </div>
      <%=  image_tag "arrow_top_right.png", class:"arrow arrow-right"%>
    </div>

    <div class="step-wrapper bottom-right blue-bg">
      <p class="">See your progress</p>
      <div data-bs-toggle="tooltip" data-bs-placement="top" title="Keep an eye on your trends">
        <%=  image_tag "info_icon_yellow.png", class:"info-icon"%>
      </div>
      <%=  image_tag "arrow_bottom_right.png", class:"arrow arrow-right-bottom"%>
    </div>

    <div class="step-wrapper bottom-left yellow-bg">
      <p class="">Join a challenge</p>
      <div data-bs-toggle="tooltip" data-bs-placement="top" title="Join a challenge to hold yourself accountable">
        <%=  image_tag "info_icon_green.png", class:"info-icon"%>
      </div>
      <%=  image_tag "arrow_bottom_left.png", class:"arrow arrow-left-bottom"%>
    </div>

    <div class="step-wrapper top-left blue-bg">
      <p class="">Compete with your friends</p>
      <div data-bs-toggle="tooltip" data-bs-placement="top" title="Connect with your friends for some friendly competition">
        <%=  image_tag "info_icon_yellow.png", class:"info-icon"%>
      </div>
      <%=  image_tag "arrow_top_left.png", class:"arrow arrow-left"%>
    </div>
  </div>
  <div class="mt-5 mb-5">
    <% if current_user %>
      <%= link_to "Let's go in", dashboard_path, class:"learn-more green-btn", id:"login-button", data: {"apparition-button-target": "button"} %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"learn-more green-btn", id:"login-button", data: {"apparition-button-target": "button"} %>
    <% end %>
  </div>
</div>
    <%#=  image_tag "info_icon_green.png", class:"icone_top_right"%>
    <%#=  image_tag "shape_bottom_left.png", class:"shape_bottom_left"%>
    <%#=  image_tag "shape_bottom_right.png", class:"shape_bottom_right"%>
    <%#=  image_tag "shape_top_left.png", class:"shape_top_left"%>
    <%#=  image_tag "shape_top_right.png", class:"shape_top_right"%>
