<div class="row">
<% @challenges.each do |challenge| %>
<div class="challenge-page-challenge-card m-3 col-4">
  <a class="challenge-page-left-div" data-bs-toggle="modal" data-bs-target="#exampleModal<%= challenge.id %>"> <%# <%= challenge.id %>
      <div class="challenge-page-name-summary">
        <div class="name-category">
          <h6 class="challenge-page-card-name"><%=challenge.name %></h6>
          <div class="challenge-page-category">
            <p class="category"><%= challenge.category %></p>
        </div>
        </div>
        <p class="challenge-page-card-summary"><%= challenge.summary %></p>
      </div>
      <div class="challenge-page-div-friends d-flex">
      <% friends = challenge.users.select do |user| %>
      <%Friendship.where(asker_id: user.id, receiver_id: current_user.id).any? ||
      Friendship.where(asker_id: current_user.id, receiver_id: user.id).any?%>
    <%end %>
        <% friends.each do |friend| %>
        <%=  image_tag friend.avatar, class:"challenge-friends", data: {bs_toggle:"tooltip", bs_placement:"top"}, title:"#{friend.first_name}"%>
        <%end %>
      </div>
    </a>
  <div class="challenge-page-right-div">
    <div class="challenge-total-days">
      <h1 class="day-number"><%= challenge.duration %></h1>
      <h3>Days</h3>
    </div>
    <%= button_to "join", challenge_active_challenges_path(challenge), class:"join-button" %>
  </div>
</div>

<div class="modal fade" id="exampleModal<%= challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= challenge.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= challenge.description %>
            </div>
            <div class="modal-footer">
              <%= button_to "join challenge", challenge_active_challenges_path(challenge), class:"join-button" %>
            </div>
          </div>
        </div>
      </div>
<%end  %>
</div>
<style>
/* biggest div */
.challenge-page-challenge-card {
  border: solid 1px black;
  background-color: #dedede;
  height: 250px;
  width: 500px;
  padding: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
/* Left big div */
.challenge-page-left-div {
  border: solid 1px black;
  background-color: #dbf5eda6;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 12px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #0B2B2B;
}
.name-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.challenge-page-card-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.challenge-page-card-summary {
    font-size: 15px;
    font-weight: lighter;
    text-align: start;
    margin: 0;
}
.challenge-page-category {
  border: solid 1px black;
  background-color: white;
  padding: 4px 17px;
  border-radius: 25px;
  height: fit-content;
  margin-right: 3px;
  display: flex;
  justify-content: center;

  .category {
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
  }
}

/* Right Big Div */
.challenge-page-right-div {
    /* border: solid 1px black; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    flex-shrink: 0;
    /* border-radius: 15px; */
}
.challenge-total-days {
  background-color: white;
  border: solid 1px black;
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.join-button {
  background-color: #0B2B2B;
  color: #FFB4C6;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  transition: .2s ease-in-out;
}
.join-button:hover {
  color: #0B2B2B;
  background-color: #FFB4C6;
}
.challenge-friends{
  height:40px;
  width:40px;
  border-radius:50%;
  padding: 5px;
}
</style>
