
    <% challenges.each do |challenge| %>

      <div class="main-challenges d-flex">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= challenge.id %>">
          <div class="main-card-right">
            <div class="main-info-card">
                <p class="main-card-title"><%=challenge.name %></p>
                <p class="main-card-summary"><%= challenge.summary %></p>
                <p><%= challenge.category %></p>
            </div>
            <div class="challenge-friends d-flex">
            </div>
          </div>
          <div class="main-card-left">
            <h6><%= challenge.duration %> Days</h6>
            <%= button_to "join", challenge_active_challenges_path(challenge), class:"join-button" %>
          </div>

        </a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= challenge.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= challenge.description %>
            </div>
            <div class="modal-footer">
              <%= button_to "join challenge", challenge_active_challenges_path(challenge), class:"call-to-action" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
