
    <% challenges.each do |challenge| %>
      <div class="challenge-card justify-content-center col-4 pt-3 px-3 m-3">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal<%= challenge.id %>">
          <div class="grow">
              <h3> <%=challenge.name %></h3>
              <h5><%= challenge.summary %></h5>
              <h5><%= challenge.duration %> days</h5>
          </div>
          <div class="d-flex justify-content-between pt-3 pb-2">
              <div class="d-flex">
                <% current_user.friends.each do |friend| %>
                <%=  image_tag friend.avatar, class:"friend-avatar"%>
                <% end %>
              </div>
              <%= button_to "join challenge", challenge_active_challenges_path(challenge), class:"call-to-action8" %>
          </div>
        </a>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= challenge.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= challenge.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= challenge.description %>
            </div>
            <div class="modal-footer">
              <%= button_to "join challenge", challenge_active_challenges_path(challenge), class:"call-to-action" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
