<div class="row">
<div class="challenge-page-challenge-card col-4" id="feature-challenge-card">
  <a class="challenge-page-left-div bg-orange" style="cursor: default;"> <%# <%= challenge.id %>
      <div class="challenge-page-name-summary">
        <div class="name-category">
          <h6 class="challenge-page-card-name"><%=@feature.name %></h6>
        </div>
        <p class="challenge-page-card-summary"><%= @feature.description %></p>
      </div>
      <div class="challenge-page-div-friends d-flex">
      <% friends = @feature.users.select do |user| %>
      <%Friendship.where(asker_id: user.id, receiver_id: current_user.id).any? ||
      Friendship.where(asker_id: current_user.id, receiver_id: user.id).any?%>
    <%end %>
        <% friends.each do |friend| %>
        <%=  image_tag friend.avatar, class:"challenge-friends", data: {bs_toggle:"tooltip", bs_placement:"top"}, title:"#{friend.first_name}"%>
        <%end %>
      </div>
    </a>



  <div class="challenge-page-right-div" >
    <div class="feature-card-days-and-category" id="feature-card-days-category">
      <div class="challenge-total-days">
        <h1 class="day-number" style="margin-bottom: 0.5rem;"><%= @feature.duration %></h1>
        <h3>Days</h3>
      </div>
      <div class="challenge-page-category" id="featured-category">
        <p class="category" id="feature-challenge-category-text"><%= @feature.category %></p>
      </div>
    </div>
    <%= button_to "join", challenge_active_challenges_path(@feature), class:"join-button", id:"feature-join-button" %>
  </div>
</div>



<%# how to card %>
<div class="how-to-container">
  <div class="how-to">
    <h3 class="how-to-title">How-to:</h3>
    <ol class="how-to-list">
      <li class="how-to-list-item">Browse Challenges by Category</li>
      <li class="how-to-list-item">See what your friends </li>
      <li class="how-to-list-item">Join a Challenge</li>
      <li class="how-to-list-item">Log your progress in your dashboard</li>
      <li class="how-to-list-item">Earn points</li>
      <%# <li class="how-to-list-item">Lastly, responsibility for climate action does not fall on you as an individual. These challenges aim to improve your personal wellbeing with an improved footprint being a benefit. If you feel your wellbeing declining as a result of using SUS, please take a step back and talk to someone.</li> %>
    </ol>
  </div>
  <div class="safe-travels-friend">
    <h5 class="good">Days Until Earth Day</h5>
    <h3 style="font-size: 28px;">227 Days</h3>
    <h3 style="font-size: 15px;">or everyday</h3>
  </div>
</div>

<div class="daily-facts">
  <ul class="nav nav-tabs" id="myTab fact-div-navbar" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fact-icon fa-solid fa-house-chimney"></i></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fact-icon fa-solid fa-bowl-food"></i></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="fact-icon fa-solid fa-bicycle"></i></button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <%# Home Tab %>

    <div class="tab-pane fade show active fact-div" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h4 style="text-align: center; margin: 12px 0px;">Home Quick-Tips</h4>
      <ul class="quick-tip">
        <li class="tips">The average piece of clothing is only worn 7 times and 85% of it ends up in landfills</li>
        <li class="tips">Food waste in the UK produces 9.5 million tonnes of CO2e annually</li>
        <%# <li class="tips">qwerty peterty letherty iamthirsty</li> %>
       </ul>
    </div>

    <%# Food Tab %>
    <div class="tab-pane fade fact-div" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h4 style="text-align: center; margin: 12px 0px;">Food Quick-Tips</h4>
       <ul class="quick-tip">
        <li class="tips">Beef emits 25x more greenhouse gases than beans, has</li>
        <li class="tips">Eat low on the food chain, fruits, veg, grains and beans tend to have a lower footprint</li>
       </ul>
    </div>
    <%# Transport Tab %>
    <div class="tab-pane fade fact-div" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <h4 style="text-align: center; margin: 12px 0px;">Transport Quick-Tips</h4>
      <ul class="quick-tip">
        <li class="tips">The transport sector accounts for roughly 15 per cent of total greenhouse gas emissions</li>
        <li class="tips">Road transport is the largest source of emissions from transport</li>
       </ul>
    </div>
  </div>
</div>
