
    <div>
      <h2 class="header"> Today's feature challenge</h2>
      <div class="challenge-card p-4 my-3">
        <h3> <%= @feature.name %></h3>
        <h5><%= @feature.description %></h5>
        <h5><%= @feature.duration %> days</h5>
        <%= button_to "join challenge", challenge_active_challenges_path(@feature), class:"call-to-action8" %>
      </div>
    </div>


  <h2 class="header"> Explore all challenges:</h2>
  <div class="challenge-card-category"><h3 class="challenge-category-text">Food</h3></div>
  <div class="challenge-category-wrapper">
    <%= render "category", challenges: @challenges_food %>
  </div>
  <div class="challenge-card-category"><h3 class="challenge-category-text">Home</h3></div>
  <div class="challenge-category-wrapper">
    <%= render "category", challenges: @challenges_home %>
  </div>
  <div class="challenge-card-category"><h3 class="challenge-category-text">Travel</h3></div>
  <div class="challenge-category-wrapper">
    <%= render "category", challenges: @challenges_transport %>
  </div>
      <%= render "category_cards" %>
</div>
